<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cloud.user.mapper.SysOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.cloud.user.model.SysOrg">
        <id column="org_id" property="orgId" />
        <result column="org_name" property="orgName" />
        <result column="org_short_name" property="orgShortName" />
        <result column="org_sort" property="orgSort" />
        <result column="org_code" property="orgCode" />
        <result column="org_address" property="orgAddress" />
        <result column="org_url" property="orgUrl" />
        <result column="contact" property="contact" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="del_flag" property="delFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

</mapper>
